In [1]:
import operator
import os
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [3]:
while True:
    # notes from: https://github.com/prof-rossetti/georgetown-opim-243-201901/blob/master/notes/python/modules/os.md
    print(os.listdir("/Users/Nina/Documents/Python/exec-dash-project/data")) 
    
    # guidance from Hiep
    csv_file_name = input("Please input the file name from the directory above in the format of sales-YYYYMM.csv: ")
    csv_file_path = os.path.join("data/",csv_file_name)     
    if not os.path.isfile(csv_file_path):
        print("We could not find your file. Please enter the exact file name from the directory above.")
    else:
        break

['sales-201803.csv']
Please input the file name from the directory above in the format of sales-YYYYMM.csv: sales-201803
We could not find your file. Please enter the exact file name from the directory above.
['sales-201803.csv']
Please input the file name from the directory above in the format of sales-YYYYMM.csv: sales-201803.csv

In [4]:
csv_data = pd.read_csv(csv_file_path)

In [6]:
csv_data
product_names = csv_data["product"]
unique_product_names = product_names.unique()

In [7]:
unique_product_names

array(['Button-Down Shirt', 'Vintage Logo Tee', 'Sticker Pack',
       'Super Soft Hoodie', 'Baseball Cap', 'Khaki Pants', 'Brown Boots'],
      dtype=object)

In [11]:
unique_product_names = unique_product_names.tolist()

In [12]:
unique_product_names

['Button-Down Shirt',
 'Vintage Logo Tee',
 'Sticker Pack',
 'Super Soft Hoodie',
 'Baseball Cap',
 'Khaki Pants',
 'Brown Boots']

In [15]:
top_sellers = [] 
for product_name in unique_product_names:
    matching_rows = csv_data[csv_data["product"] == product_name]
    product_monthly_sales = matching_rows["sales price"].sum()
    top_sellers.append({"name": product_name, "monthly_sales": product_monthly_sales})

top_sellers = sorted(top_sellers, key=operator.itemgetter("monthly_sales"), reverse=True)

In [16]:
top_sellers

[{'name': 'Button-Down Shirt', 'monthly_sales': 6960.35},
 {'name': 'Super Soft Hoodie', 'monthly_sales': 1875.0},
 {'name': 'Khaki Pants', 'monthly_sales': 1602.0},
 {'name': 'Vintage Logo Tee', 'monthly_sales': 941.0500000000001},
 {'name': 'Brown Boots', 'monthly_sales': 250.0},
 {'name': 'Sticker Pack', 'monthly_sales': 216.0},
 {'name': 'Baseball Cap', 'monthly_sales': 156.31}]

In [17]:
csv_data[csv_data['product']=='Baseball Cap']

           date       product  unit price  units sold  sales price
5    2018-03-02  Baseball Cap       22.33           1        22.33
10   2018-03-03  Baseball Cap       22.33           1        22.33
13   2018-03-04  Baseball Cap       22.33           1        22.33
31   2018-03-09  Baseball Cap       22.33           1        22.33
41   2018-03-11  Baseball Cap       22.33           1        22.33
61   2018-03-17  Baseball Cap       22.33           1        22.33
110  2018-03-30  Baseball Cap       22.33           1        22.33

In [20]:
rank = 1
for d in top_sellers:
    print("  " + str(rank)+ ") " + d["name"]+ ": " + to_usd(d["monthly_sales"]))
    rank = rank + 1

  1) Button-Down Shirt: $6,960.35
  2) Super Soft Hoodie: $1,875.00
  3) Khaki Pants: $1,602.00
  4) Vintage Logo Tee: $941.05
  5) Brown Boots: $250.00
  6) Sticker Pack: $216.00
  7) Baseball Cap: $156.31

In [19]:

def to_usd(my_price):
    return f"${my_price:,.2f}"